---
// Dependencies
import { getCollection, render } from 'astro:content';

// Layout
import Layout from '~/layouts/Layout.astro';

//Sections
import Main from '~/section/Main.astro';

// Atoms
import Button from '~/atoms/Button.astro';

export async function getStaticPaths() {
  const posts = await getCollection('culture');
  return posts.map((post) => {
    const [category, slug] = post.slug.split('/');

    return {
      params: { id: slug, category },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
const importedImages = import.meta.glob<{ default: ImageMetadata }>(
  `/src/assets/images/culture/posts/*.{jpeg,jpg,png,gif,webp}`,
);
---

<Layout asideScroll={true}>
  <Main class="flex-row gap-4">
    <div class="bg-theme-black relative min-h-full min-w-1/2">
      <Button
        navigate={post.collection}
        class="absolute top-0 right-0 z-10"
        id="backButton"
      >
        [Back]
      </Button>
      <Image
        src={importedImages[post.data.mainImage]()}
        alt={post.data.title}
        class="z-0 min-h-full w-full min-w-full object-cover opacity-50"
        transition:name={`culture-image-${post.slug}`}
      />
    </div>
    <article
      class="hidden-scrollbar w-full overflow-auto p-0"
      id="scroll-section"
    >
      <h1 class="font-oswald text-8xl">
        {post.data.title}
      </h1>
      <h2 class="font-oswald text-5xl">{post.data.subtitle}</h2>
      <p class="text-theme-main mb-8">[{post.data.date}]</p>
      <Content />
    </article>
  </Main>
</Layout>

<style>
  article {
    h3 {
      color: var(--color-theme-main);
      font-size: calc(var(--spacing) * 6);
      font-weight: bold;
    }

    h4 {
      em {
        color: var(--color-gray-700);
        font-size: calc(var(--spacing) * 6);
      }
    }

    p {
      margin-block-end: calc(var(--spacing) * 4);
    }

    blockquote {
      p {
        color: var(--color-theme-black);
      }
    }

    em {
      color: var(--color-gray-700);
      strong {
        color: var(--color-theme-main);
        font-style: normal;
        font-weight: bold;
        font-size: calc(var(--spacing) * 5);
      }
    }

    strong {
      font-weight: bold;
      em {
        color: var(--color-theme-black);
        font-style: normal;
        font-weight: bold;
        font-size: calc(var(--spacing) * 5);
      }
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const history = window.history;
    const backButton = document.getElementById('backButton');

    backButton?.addEventListener('click', (event) => {
      history.back();
    });
  });
</script>
