---
import { Image } from 'astro:assets';

// Layout
import Layout from '~/layouts/Layout.astro';

// Atoms
import Link from '~/atoms/Link.astro';

// Sections
import Main from '~/section/Main.astro';
import { getCollection } from 'astro:content';

// Consts
import { ROUTES } from '~/constants/Routes';
import { CULTURE_PAGES } from '~/constants/Culture';

// Types
import type { RouteType } from '~/types/Routes';
import CultureService from '~/services/CultureService';

const postsCollection = await getCollection('culture');
const pathname = Astro.url.pathname as RouteType;
const [, , category] = pathname.split('/');

const importedImages = import.meta.glob<{ default: ImageMetadata }>(
  `/src/assets/images/culture/{lookbooks,posts}/*.{jpeg,jpg,png,gif,webp}`,
);

const posts = CultureService.getItems(postsCollection, category);
---

<Layout
  headerSize="small"
  mainSize="large"
  asideSize="small"
  asideBackground="main"
  asideScroll={true}
  logoSize="small"
>
  <Main class="m-0 w-2/3 p-0 pr-16">
    <div
      class="font-anton flex h-24 w-full justify-end gap-4 p-4 text-5xl font-normal"
    >
      {
        CULTURE_PAGES.map((page) => (
          <Link
            href={page.href}
            class="text-5xl"
            class:list={{
              'text-theme-main': pathname === page.href,
            }}
          >
            [{page.name}]
          </Link>
        ))
      }
    </div>
    <div class="hidden-scrollbar flex flex-wrap" id="scroll-section">
      {
        posts.map((post) => {
          const { collection, data, body, slug } = post;
          const [postCategory] = slug.split('/');

          return (
            <a
              href={`/${collection}/${slug}`}
              class={`bg-theme-black group relative z-1 flex aspect-4/3 w-1/3 flex-col justify-center overflow-hidden bg-cover bg-center text-center text-white`}
              transition:name={`culture-image-${slug}`}
            >
              <span class="font-anton absolute top-1 left-1 text-4xl font-normal uppercase">
                [{postCategory}]
              </span>
              <h3 class="font-oswald text-4xl font-normal uppercase transition-all group-hover:scale-120">
                {data.title}
              </h3>
              <h4 class="font-oswald text-lg font-normal">{data.subtitle}</h4>
              <Image
                src={importedImages[data.mainImage]()}
                alt={data.subtitle}
                class="bg-theme-black pointer-events-none absolute -z-1 min-h-full min-w-full opacity-50 transition-all group-hover:scale-120"
              />
            </a>
          );
        })
      }
    </div>
  </Main>
</Layout>
