---
// Layout
import Layout from '~/layouts/Layout.astro';

// Atoms
import Link from '~/atoms/Link.astro';

// Sections
import Main from '~/section/Main.astro';
import { getCollection } from 'astro:content';

// Consts
import { ROUTES } from '~/constants/Routes';

// Types
import type { RouteType } from '~/types/Routes';
import CultureService from '~/services/CultureService';

const postsCollection = await getCollection('culture');
const pathname = Astro.url.pathname as RouteType;
const [, , category] = pathname.split('/');

const posts = CultureService.getItems(postsCollection, category);
---

<Layout
  headerSize="small"
  mainSize="large"
  asideSize="small"
  asideBackground="main"
  asideScroll={true}
  logoSize="small"
>
  <Main class="m-0 w-2/3 p-0 pr-16">
    <div
      class="font-anton flex h-24 w-full justify-end gap-4 p-4 text-5xl font-normal"
    >
      <Link
        href={ROUTES.CULTURE}
        class="text-5xl"
        class:list={{
          'text-theme-main': pathname === ROUTES.CULTURE,
        }}>[All]</Link
      >
      <Link
        href={ROUTES.LOOKBOOKS}
        class:list={{
          'text-theme-main': pathname === ROUTES.LOOKBOOKS,
        }}>[Lookbooks]</Link
      >
      <Link
        href={ROUTES.POSTS}
        class:list={{
          'text-theme-main': pathname === ROUTES.POSTS,
        }}>[Posts]</Link
      >
    </div>
    <div class="hidden-scrollbar flex flex-wrap" id="scroll-section">
      {
        posts.map((post) => {
          const { collection, data, body, slug } = post;
          const [postCategory] = slug.split('/');

          return (
            <a
              href={`/${collection}/${slug}`}
              class={`bg-theme-black relative z-1 flex aspect-4/3 w-1/3 flex-col justify-center overflow-hidden bg-cover bg-center text-center text-white`}
              class:list={{
                [`bg-url('${data.mainImage}')`]: Boolean(data.mainImage),
              }}
              transition:name={`culture-item-${slug}`}
            >
              <span class="font-anton absolute top-0 left-0 text-4xl font-normal uppercase">
                [{postCategory}]
              </span>
              <h3 class="font-oswald text-4xl font-normal uppercase">
                {data.title}
              </h3>
              <h4 class="font-oswald text-lg font-normal">{data.subtitle}</h4>
              <img
                src={data.mainImage}
                class="pointer-events-none absolute -z-1 min-h-full min-w-full opacity-50"
              />
            </a>
          );
        })
      }
    </div>
  </Main>
</Layout>
