---
// Depencencies
import { ClientRouter } from 'astro:transitions';

// Styles
import '~/styles/global.css';

// Types
import type { LayoutPropsType } from '~/types/Sections';
import type { RouteType } from '~/types/Routes';

// Sections
import Header from '~/section/Header.astro';
import Aside from '~/section/Aside.astro';

const {
  headerSize = 'medium',
  mainSize = 'medium',
  asideBackground = 'white',
  asideSize = 'medium',
  asideScroll = false,
} = Astro.props as LayoutPropsType;

const currentPath = Astro.url.pathname as RouteType;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Astro</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
  </head>

  <body
    class="bg-theme-white text-theme-black font-oswald relative m-0 flex h-[100dvh] w-[100dvw] flex-row overflow-hidden p-0"
  >
    <Header currentPath={currentPath} size={headerSize} />

    <slot />

    <Aside size={asideSize} background={asideBackground} scroll={asideScroll}>
      <slot name="aside" />
    </Aside>
  </body>
</html>
